<%= form_with(model: post,class: 'row g-3') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      
      <h2 class="hidden-errors"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="field col-md-3">
    <%= form.label :serves, class: 'form-label' %>
    <%= form.text_field :serves, class: 'form-control' %>
  </div>

  <div class="field col-md-12">
    <%= form.label :ingredients %>
    <%= form.rich_text_area :ingredients %>
  </div>

  <div class="field col-md-12">
    <%= form.label :procedure %>
    <%= form.rich_text_area :procedure %>
  </div>

  <div class="actions col-md-3">
    <br/>
    <%= form.submit "Submit", class:'btn btn-default' %>
  </div>
<% end %>





