<div class="col-md-12">
  <h4><small>POST DETAILS</small></h4>
  <hr>
  <h2><%= @post.title %></h2>
  <h5>
    <span class="glyphicon glyphicon-time"></span> 
    Post by <%= link_to @post.user.user_name , 
              user_details_show_path(user: @post.user) %>, 
              <%= @post.updated_at.to_formatted_s(:long) %>
  </h5>
  <strong>Serves:</strong><%= @post.serves %>
  <!--
  <h5>
    <span class="label label-danger">Food</span> 
    <span class="label label-primary">Ipsum</span>
  </h5>
  -->
  <br>

  <p>
    <strong>Ingredients:</strong>
    <%= @post.ingredients %>
  </p>

  <p>
    <strong>Procedure:</strong>
    <%= @post.procedure %>
  </p>

  <br><br>

  <% if is_owner(@post) %>
    <button class="btn btn-default">
      <%= link_to 'Edit Post', [ :edit, @post ] %>
    </button>
    <button class="btn btn-default">
      <%= link_to 'Destroy Post', 
        @post, method: :delete, 
        data: { confirm: 'Are you sure?' } %>
    </button>
  <% end %>
</div>

<!-- Comments -->

<h4> Comments </h4>
<%= render 'comments/form' %>

<% @post.comments.each do |comment| %>
  <p>
    <%= link_to comment_user_name(comment.user_id), user_details_show_path(user: comment.user_id) %>
    <%= ">> #{comment.body}" %>

    <% if is_owner(comment) %>
      <%= link_to 'x',
                  post_comment_path(@post,comment),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this comment?' },
                  class: "btn btn-default " %>
    <% end %>
  </p>
<% end %>

  

 







